*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.values {
    position: absolute;
    top: 20px;
    left: 40%;
    display: none;
    color: white;
    z-index: 10;
    gap:100px;
}

.values div{
    margin-bottom: 10px;
    font-size: 20px;
}
canvas {
    border: 2px solid #fff;
    background-color: #1e1e1e;
}
#menu {
    position: absolute;
    text-align: center;
}
#menu h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    position: absolute;
    transition: background-color 0.3s;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2;
}
button:hover {
    background-color: #21a1f1;
}

#startButton{
    display: block;
    transform: translate(80%);
}

#restartButton{
    top: 55%;
    left: 50%;
}

#replayButton{
    top: 65%;
    left: 50%;
}

#autoPlayButton{
    top:30px;
    right:50px;
    z-index: 2;
}

.controls-info {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    text-align: left; 
}

.controls-info p {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 16px;
}

.controls-info ul {
    list-style-type: none;
    display: flex;
    gap:10px;
    padding: 0;
    margin: 0;
}

.controls-info li {
    margin-bottom: 10px;
    font-size: 14px;
}
